.navbar-default {
    height: 55px;
    background-color: #E1E1E1;
}

.nav-color {
    color: #122087;
}

.item {
      display: block;
      width: 100%;
      height: 200px;
}

.item2 {
      display: block;
      width: 100%;
      height: 120px;
}



.item img {
      height: 100%;
      width: 100%;
}


.wrapper{
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

.row-custom {
    width: 100%;
}

.square{
  font-family: sans-serif;
  color: blue;
  padding: 2em;
    float:left;
    width: 100%;
    background: white;
}

.tit {
    padding-top: 4em;
    padding-right: 4em;
    padding-left: 4em;
}

.img {
    padding: 2em;
    padding-top: 8px;
}

.espacio {
    background: #122087;
    height: 10px;
}

.espacio1 {
    background: #122087;
    height: 1px;
}

.espacio2 {
    background: #122087;
    height: 10px;
    padding-bottom: 20px;
}

.general {
    padding: 2em;
    padding-bottom: 10px;
}

.general1 {
    padding: 10em;
}

.general2 {
    padding: 0em;
}

.general3 {
    padding-bottom: 4em;
}

.general4 {
    padding-right: 4em;
    padding-left: 2em;
}

.general5 {
    padding-top: 2em;
}

.image-notice {
    max-width:150px;
    max-height:auto;
}

.border1 {
    border-style: solid;
    border-width: 1px;
    border-left-color: #122087;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px; 
}

.border2 {
    border-style: solid;
    border-width: 1px;
    border-right-color: #122087;
    border-top: 0px;
    border-left: 1px;
    border-bottom: 0px; 
}

.border3 {
    border-style: solid;
    border-width: 2px;
    border-right-color: #122087;
    border-top: 0px;
    border-left: 1px;
    border-bottom: 0px; 
}

a {
    color: #0C2376;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.a1 {
    font-family: 'Anton', sans-serif;
    font-size: 16px;
}

.a2 {
    font-family: 'Anton', sans-serif;
    font-size: 19px;
}

.a3 {
    font-family: 'Anton', sans-serif;
    padding-bottom: 10px;
    text-shadow: 0 2px 0 #000;
}

.a4 {
    font-family: 'Concert One', cursive;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #0C2376;
    text-align: left;
    background-color: #fff;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 0px solid #dee2e6;
    border-radius: .25rem;
    max-width: 85%;
    height: auto;
    margin: 10px auto;
    /* margin-left: 20px; */
}

.color-background{
    background-color: #494949
}


*******************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    background: #494949 url("../images/footer/footer-bg.png") repeat scroll left top;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;/*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}



.title-widget {
	color: #898989;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
	width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
    			-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
			}           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
			.social-fb:hover {
				color: #3B5998;
			}
			.social-tw:hover {
				color: #4099FF;
			}
			.social-gp:hover {
				color: #d34836;
			}
			.social-em:hover {
				color: #f39c12;
			}
			.nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

.bg {
    background-color: #F0F0F0;
}

.pad {
    padding-right: 15px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.col-custom {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.caption1 {
    text-shadow: 0 2px 0 #000;
}

.img-thumbnail1 {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.icon-bar {
    background-color: black ;
}

#btnref:hover {
    opacity: 0.5;
}
#btnref2:hover {
    opacity: 0.5;
}
#btnref3:hover {
    opacity: 0.5;
}
#btnref4:hover {
    opacity: 0.5;
}
#btnref5:hover {
    opacity: 0.5;
}

@media screen and (max-width: 400px) {
    .small_hidden {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .small_modify {
        padding: 2rem;
    }
}
@media screen and (max-width: 400px) {
    .navbar-default {
        height: auto;

    }
}

@media screen and (min-width: 400px) {
    .large_hidden {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .nav_hide {
        display: none;
    }
}
@media screen and (min-width: 400px) {
    .nav_hide1 {
        display: none;
    }
}




